##################################
# Unity
##################################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.pidb
*.booproj
*.sln*
*.userprefs

##################################
# VS / Rider / VSCode / JetBrains
##################################

.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.suo
*.user
*.userosscache
*.sln.docstates
*.db
*.db-shm
*.db-wal

##################################
# OS
##################################

.DS_Store
Thumbs.db

##################################
# Plastic SCM
##################################

.plastic/

##################################
# WebGL
##################################
# НЕ игнорируем билд, если его хостим:
# !Builds/WebGL/
# Но если билд не нужен в репо, включай строчку ниже:
# Builds/WebGL/

##################################
# Unity Asset Store Tools
##################################

AssetStoreTools*

##################################
# Crash Logs
##################################

sysinfo.txt
############################################
!/docs/
# билди в папку /docs
